* {
    box-sizing: border-box;
}

:root {
    --fir-col: #1A1A1D;
    --sec-col: #1A1A1D;
    /* --sec-col: #4E4E50; */
    /* --sec-col: #6F2232; */
    /* --sec-col: #950740; */
    /* --sec-col: #C3073F; */
    --thi-col: #dd0344;
    /* --thi-col: #031163; */
    --fou-col: #4E4E50;
    --text-col: white;
    /* --text-col: #dd0344; */
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--fir-col);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-col);
}

a {
    text-decoration: none;
    color: var(--text-col);
}    

h1 {
    font-size: 50px;
    padding-left: 20px;
}

/* .full-height-grow {
    display: flex;
    flex-direction: column;
} */

/* .main-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: inherit;
    height: 140px;
    background-image: url(../Images/modern-abstract-blue.jpg);
    background-size: cover;
    max-width: 100%;
    max-height: auto;
} */

.contact-info-items ul{
    display: flex;
    margin: 0;
    padding: 30px 0;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.contact-info-items li {
    margin: 0 50px;
}

a:hover, .download-resume:hover {
    color:lightblue;
    cursor: grab;
    transform: scale(1.3);

}

.contact-icon:hover {
    transform: scale(1.5);
}

.section-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border-top: 5px solid var(--thi-col);
    border-radius: 45px;
    background-color: var(--sec-col);
}

.my-work-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.avatar {
    width: 20%;
    height: auto;
}

/* .top-image {
    height: 100px;
    background-size: cover;
    margin: 0 10px;
} */

.main-hover:hover {
    transform: scale(1.1);
    border: 3px solid var(--thi-col);
}

.double-display:hover {
    transform: scale(1.05, 1.2);
}

.individual-work-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
    height: 300px;
    width: 300px;
    margin: 20px 20px;
    padding: 20px;
    border: 3px solid var(--thi-col);
    background-size: cover;
}

.project-name {
    font-size: x-large;
}

.project-card {
    color: var(--text-col);
    background-color: var(--thi-col);
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
}

.work-1 {
    min-width: 90%;
    flex-grow: 2;
    background-image: url(../Images/paws.png);
}

.work-2 {
    flex-grow: 1;
    background-image: url(../Images/team-profile-generator.png);

}

.work-3 {
    flex-grow: 1;
    background-image: url(../Images/viewAllEmployees.png);
}

.work-4 {
    flex-grow: 1;
    background-image: url(../Images/weather-dashboard.png);
}

.work-5 {
    flex-grow: 1;
    background-image: url(../Images/homepage.png);

}

.project-link {
    position: absolute;
    top: 80%;
    z-index: 99;
}

.project-link-github {
    position: absolute;
    top: 60%;
    z-index: 99;
}

.container-title {
    width: 20%;
    text-align: right;
    padding: 50px 20px;
    border-right: 5px solid var(--thi-col);
    border-radius: 30px;

}

.container-info {    
    width: 80%;
    padding: 20px;
}

.about-me-text {
    padding: 20px;
}

.about-me-info {
    display: flex;
    align-items: center;
}

#mainNavbar {
    width: 100%;
    position: fixed;
    z-index: 100;
    color: var(--thi-col);
    background-color: var(--thi-col);
}

.job-role {
    margin-bottom: 20px;
    padding-top: 80px;
}

.text-extra {
    text-align: center;
    color: var(--thi-col);
    font-family: 'Cookie', cursive;
    font-size: 40px;
}

@media screen and (max-width: 481px) {
    
    .section-container {
        flex-direction: column;
    }
    .container-title, .container-info {
        border: none;
        align-self: center;
        padding: 0; 
    }
    .container-title {
        width: 50%;
        text-align: center;
    }
    .avatar {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 629px) {
    .contact-info-container {
        padding-right: 100px;
    }

    .contact-info-items ul {
        justify-content: space-between;
    }
}

@media (min-width: 991px) {
    .job-role {
        padding-top: 120px;
    }
}

@media (max-width: 351px) {
    .job-role {
        padding-top: 120px;
    }
}
