*, *::before, ::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: grey;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    height: 140px;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color:lightblue;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.about-me-container, .my-work-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.about-me-title, .my-work-title {
    font-size: 25px;
    width: 20%;
    text-align: right;
    padding: 50px;
    border-right: 3px black;
}

.about-me-info, .my-work-items {
    width: 80%;
    padding: 20px;
}