*, *::before, ::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: grey;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    height: 140px;
}

.contact-info-items ul {
    display: flex;
    list-style: none;
}

.main-nav ul, .contact-info-items ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color:lightblue;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.about-me-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.contact-info-container {
    display:flex;
    flex-direction: row;
    text-align: space-between;
    padding: 10px;
}

.my-work-container {
    display:flex;
    flex-direction: row;
    padding: 10px;
    background-color: brown;
    margin: 20px 0;
}

.my-work-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: chartreuse;
    justify-content: space-around;
}

.work-1 {
    min-width: 100%;
    height: 250px;
    width: 100%;
    flex-grow: 2;
    background-color: red;
    padding: 20px;
    margin: 20px 20px;
}

.work-2, .work-3 {
    height: 250px;
    background-color: red;
    margin: 20px 0;
    flex-grow: 1;
    padding: 20px;
}

.work-2 {
    margin-right: 10px;
}

.work-3 {
    margin-left: 10px;
}

.about-me-title, .my-work-title, .contact-info-title {
    font-size: 25px;
    width: 20%;
    text-align: right;
    padding: 50px 10px;
    border-right: 3px black;
}

.about-me-info, .my-work-items, .contact-info-items {
    width: 80%;
    padding: 20px;
}

.about-me-container, .contact-info-container {
    background-color: royalblue;
}