* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #031163;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
    }    

h1 {
    font-size: 50px;
    padding-left: 20px;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    height: 140px;
}

.main-nav ul, .contact-info-items ul{
    display: flex;
    margin: 0;
    padding: 35px 0;
    list-style: none;
    background-color: royalblue;
}

.contact-info-items ul {
    display: flex;
    justify-content: space-around;
}

.main-nav {
    border: 5px solid #1fbfb8;
    border-radius: 50%;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover, a:hover {
    color:lightblue;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.section-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border: 5px solid #1fbfb8;
    border-radius: 10deg;
    background-color: royalblue;
}

.my-work-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.avatar {
    width: 100px;
    height: 100px;
}

.top-image {
    background-image: url(\modern-abstract-blue.jpg);
    height: 100px;
    background-size: cover;
    margin: 0 10px;
}

.individual-work-title:hover {
    transform: scale(1.1);
    border: 3px solid blueviolet;
    opacity: .7;
}

.work-1 {
    color: black;
    min-width: 90%;
    height: 250px;
    flex-grow: 2;
    padding: 20px;
    margin: 20px 20px;
    border: 3px solid blue;
    background-image: url(\Weather-Dashboard-3.png);
}

.work-2 {
    color: black;
    height: 250px;
    margin: 20px 20px;
    flex-grow: 1;
    padding: 20px;
    border: 3px solid blue;
    background-image: url(\calendar-1.png);
}

.work-3 {
    color: black;
    height: 250px;
    margin: 20px 20px;
    flex-grow: 1;
    padding: 20px;
    border: 3px solid blue;
    background-image: url(\movie-hunter-screenshot.png);
}

.container-title {
    font-size: 25px;
    width: 20%;
    text-align: right;
    padding: 50px 10px;
    border-right: 5px solid #1fbfb8;
}

.container-info {
    width: 80%;
    padding: 20px;
}

.section-container {
    
}

.main-nav ul {
    border-radius: 50%;
}
.avatar {
    margin-bottom: 30px;
}

@media screen and (max-width: 481px) {
    .my-work-items {
        display: flex;
        flex-direction: column;
        align-content: center;
      }
    .section-container {
        flex-direction: column;
    }
    .container-title, .container-info {
            border: none;
            align-self: center;
    }
    .top-image {
        margin-top: 200px;
    }
    .main-header {
        display: flex;
        flex-direction: column;
        align-content: center;
      }
    .top-image {
        display: none;
    }
    .about-me-container {
        margin-top: 350px;
    }
    .contact-info-items ul {
        display: flex;
        flex-direction: column;
    }
    .container-title {
        width: 50%;
        text-align: center;
    }
  }

